.row {
    display: flex;
    justify-content: center;
  }

  .mat-table {
    width: 100%;
    font-size: 10px;
  }
  
  .mat-row, .mat-header-row {
    height: 300px; /* Prilagodite visinu prema potrebi */
  }
  
  .mat-cell, .mat-header-cell {
    padding: 120px;
  }  
  /* Stilovi za okvir tabele */
.mat-table {
    border: 2px solid #ccc; /* Debljina i boja okvira */
    border-radius: 8px; /* Opciono: da dodate zaobljenost oko ivica */
    overflow: hidden; /* Opciono: da sakrijete ivice koje su izvan okvira */
  }
  
  /* Stilovi za redove */
  .mat-row, .mat-header-row {
    border-bottom: 1px solid #ccc; /* Debljina i boja donjeg okvira svakog reda */
  }
  
  /* Stilovi za ćelije */
  .mat-cell, .mat-header-cell {
    border-right: 1px solid #ccc; /* Debljina i boja desni okvira svake ćelije */
    padding: 10px;
  }
  
  /* Posljednja ćelija u redu nema desni okvir */
  .mat-cell:last-child, .mat-header-cell:last-child {
    border-right: none;
  }
  h1 {
    text-align: center;
  }