<mat-card elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-content>
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
          
          
            <mat-form-field>
                <label>Content: </label>
                <input formControlName="name" matInput required>
            </mat-form-field>
            
            
            <mat-form-field>
                <label>Description: </label>
                <input formControlName="description" matInput required>
            </mat-form-field>
          
                
            <br>
            <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Create group</button>
            <button color="primary" mat-raised-button  routerLink="myProfile" >Go Back</button>
        </form>
        <br>
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
        <br>
        <hr>
    </mat-card-content>
    
</mat-card>