<div class="flex-container">
    <div class="section">
        <mat-card elevation="5" fxFlex class="content">
            <mat-card-title>
                <h2>Update/Delete</h2>
            </mat-card-title>
        
            <mat-card-content>
                <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
                <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
                    <mat-form-field>
                        <label>Current password:</label>
                        <input formControlName="oldPassword" matInput required type="password">
                    </mat-form-field>
                    <mat-form-field>
                        <label>New password:</label>
                        <input formControlName="newPassword" matInput required type="password">
                    </mat-form-field>
                    <mat-form-field>
                        <label>Repeat new password:</label>
                        <input formControlName="newPasswordAgain" matInput required type="password">
                    </mat-form-field>
                    
                    <br>
                    <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Update</button>
                    <button type='button' color="primary" mat-raised-button (click)="onDelete()">Delete</button>
                </form>
                <br>
                <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
                <br>
                <hr>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="button-container">
    <button color="primary" mat-raised-button (click)="onGoBack()">Go Back</button>
</div>
