<h1 class="center">My Profile</h1>
<div class="row">
  <div class="col">
    <mat-table [dataSource]="postList" class="center">
      <!-- Position Column -->
      <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef>Content</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.content}}</mat-cell>
      </ng-container>

      <!-- Creation Date Column -->
      <ng-container matColumnDef="creationDate">
        <mat-header-cell *matHeaderCellDef>Creation Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.creationDate}}</mat-cell>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="userDisplayName">
        <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.userDisplayName}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        (click)="onPostClick(row)"
        *matRowDef="let row; columns: displayedColumns;"
      ></mat-row>
    </mat-table>
  </div>
</div>
<app-my-groups ></app-my-groups>


<div class="button-container">
	<button color="primary" mat-raised-button (click)="onGoBack()">Go Back</button>
</div>
<div class="button-container">
	<button color="primary" mat-raised-button (click)="onChangePassword()">Change your current password</button>
</div>

<div class="button-container">
	<button color="primary" mat-raised-button (click)="onEditProfile()">Edit your profile</button>
</div>
<div class="button-container">
	<button color="primary" mat-raised-button (click)="onCreateGroup()">Create your group</button>
</div>






