.col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mat-header-cell,
  .mat-cell {
    /* Prilagodite veličine po potrebi */
    padding: 100px;
    font-size: 14px;
  }
  .mat-table {
    border: 1px solid black; /* Promenite boju i debljinu po potrebi */
  }
  h1 {
    text-align: center;
  }
      